* {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  /* font-family: ; */
  font-family: "Public Sans", sans-serif;
}

:root {
  --Dark_Blue: hsl(233, 26%, 24%);
  --Lime_Green: hsl(136, 65%, 51%);
  --Bright_Cyan: hsl(192, 70%, 51%);
  --Grayish_Blue: hsl(233, 8%, 62%);
  --Light_Grayish_Blue: hsl(220, 16%, 96%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --base-font-size: 18px;
}

@media (max-width: 576px) {
  .navbar_mobile {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2rem;
    width: 100vw;
    height: 10vh;
  }
  .navbar {
    display: none;
  }
  .main_content {
    display: none;
  }
  #background {
    height: 400px;
    width: 100%;

    background-image: url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  #next_gen > h1 {
    font-weight: 50px;
    font-size: 2rem;
  }
  p {
    color: var(--Grayish_Blue);
    font-size: 0.75rem;
  }
  button {
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-image: linear-gradient(
      to right,
      var(--Lime_Green),
      var(--Bright_Cyan)
    );
    border-radius: 20px;
    border-style: none;
    width: 50%;
  }

  /*all container*/
  #next_gen > h1 {
    line-height: 2.25rem;
  }
  #next_gen {
    display: flex;
    height: 20rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 1.5rem;
  }
  #next_gen > p {
    line-height: 1.5rem;
    text-align: justify;
  }
  .why_banking-desktop{
    display: none;
  }
  

  /*why bank */
  .why_banking {
    height: 60rem;
  }
  .choose_banking {
    height: 15rem;
    background-color: var(--Light_Grayish_Blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 1.75rem;
    line-height: 1.5rem;
  }
  .choose_banking > h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .choose_banking > p {
    line-height: 1.25rem;
  }

  /*banking type elements */
  .banking_type > p {
    line-height: 1.25rem;
  }

  /*banking type */
  .banking_type {
    display: flex;
    flex-direction: column;
    height: 45rem;
    background-color: var(--Light_Grayish_Blue);
    padding: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .banking_type > img {
    height: 3rem;
    width: 3rem;
  }

  /* articles */
  #article_heading {
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1.75rem;
    text-align: center;
  }
  #all_articles {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .every_article {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--Very_Light_Gray);
  }
  .article_image {
    border-radius: 5px 5px 0px 0px;
  }
  .article_content {
    height: 9rem;
    padding: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article_author {
    font-size: 0.5rem;
    color: var(--Grayish_Blue);
  }

  /* footer */
  footer {
    height: 27rem;
    background-color: var(--Dark_Blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  footer > .social_media {
    display: flex;
    width: 10rem;
    height: 1.5rem;
    justify-content: space-between;
  }
  footer > .info_links {
    display: flex;
    height: 10rem;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: 0.75rem;
  }

  footer > .copy_right {
    color: var(--Grayish_Blue);
    font-size: 0.75rem;
  }
}

@media (min-width: 577px) {
  .navbar_mobile {
    display: none;
  }
  .navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 13vh;
    width: 100%;
    padding: 0.75rem;
  }

  .nav_list {
    display: flex;
    width: 50%;
    justify-content: space-around;
    color: var(--Grayish_Blue);
  }
  button {
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-image: linear-gradient(
      to right,
      var(--Lime_Green),
      var(--Bright_Cyan)
    );
    border-radius: 20px;
    border-style: none;

    width: 15%;
  }

  /*main content */

  .main_content {
    background-color: var(--White);
    display: flex;
    width: 100%;
    /* border: solid red 2px; */
    background-image: url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
 
  .main_content >#next_gen {
  
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    padding:5.5rem;
  }
  .main_content > #background-desktop {
    width: 50%;
    height: 100%;

    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left; */
     background-size: 100%, 200%;
  }
  .main_content >#next_gen > h1 {
    padding-left:1.5rem;
    /* padding-right:1.5rem; */
    font-size:2rem;
    line-height:2rem;
    text-align:left;
  }
  .main_content >#next_gen > p{
    color:var(--Grayish_Blue); 
    font-size:1rem;
    line-height:2rem;
    text-align:justify;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
 
  } 
  #background{
    display:none;
  }
  #next_gen{
    display: none;
  }
.next_btn{
    height:3rem;
    width: 10rem;
    padding-left:2rem;
    padding-right:2rem;
  }

  /*next container */
  #why_banking{
    display:none;
  }

  .why_banking-desktop{
    display:flex;
    flex-direction: column;
    background-color: var(--Very_Light_Gray);
    padding:4rem;
    width:100%;
    height:30rem;
    /* justify-content: space-between; */
    text-align:left;


  }
  .banking_type-desktop{
    display:flex;
    padding:1rem;
   

  }

  .choose_banking-desktop>h3{
    color:black;
    font-size: 1.75rem;
    padding:1rem;
    
  }
  .choose_banking-desktop>p{
    color:var(--Grayish_Blue);
    font-size:1rem;
  }
  .b_type_details{
    display:flex;
   
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between;
    padding:1.5rem;
    height:5rem;
    gap:20px;
    
   
  }
  .b_type_details>h3{
    color:black;
    

  }
  .b_type_details>p{
    color:var(--Grayish_Blue);
    line-height:1.5rem;
  }

  /*article*/
  .article_container{
    display:flex;
    flex-direction: column;
    width:100%;
    padding:2rem;
    padding-left:2rem;
    padding-right:2rem;
  }
  #article_heading {
    margin-top: 4rem;
    padding: 1.5rem;
    font-size: 1.75rem;
    text-align: left;
  }
  #all_articles {
    display: flex;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    /* border:solid 2px red; */
    width:100%;
  }
  .every_article {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width:22%;
    background-color: var(--Very_Light_Gray);
  }

  /*each article charactoristics*/
  .article_image {
    border-radius: 5px 5px 0px 0px;
  }
  .article_content {
    height: 9rem;
    padding: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article_author {
    font-size: 0.5rem;
    color: var(--Grayish_Blue);
  }
  .article_content >p{
    font-size:.75rem;
  color:var(--Grayish_Blue);
  
  }

  /*footer */
  footer {
    padding-left:4rem;
    padding-right:4rem;

    height: 12rem;
    background-color: var(--Dark_Blue);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

    /* justify-content: space-evenly; */
    /* align-items: center; */
  }
  footer >#logo_end{
    
    padding-top:2rem;
    padding-bottom:2rem;
  }
  footer > .social_media {
    display: flex;
    /* padding-top:2rem;
    padding-bottom:2rem; */
    width: 10rem;
    height: 1.5rem;
    justify-content: space-between;
  }
  footer > .info_links {
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: 100%;
    width:20rem;
    justify-content: space-around;
    font-size: 0.75rem;
    padding:2rem;
  }
  footer > .info_links >.link-element{
    
    height:2.5rem;
    width:50%;

  }
  footer >.foot_btn{
   
    height:3rem;
    margin-top:2rem;
    margin-bottom:2rem;
  }
  footer >.copy_desktop {
    height:4rem;
    padding-top:2rem;
    padding-bottom:2rem;
    color: var(--Grayish_Blue);
    font-size: 0.75rem;

  }
};
